body {
    height: 100vh;
    background-color: grey;
    display: flex;
    font-family: 'Press Start 2P', cursive;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container,
.container:after,
.container:before {
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
}

.container {
    width: 500px;
    height: 300px;
    border: 2px solid #fff;
    border-radius: 100px;
    position: relative;
}

.stopwatch-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.stopwatch-wrapper button {
    height: 40px;
    width: 80px;
    background: #bbb;
    border-color: #fff;
    border-radius: 100px;
}

.stopwatch-wrapper #stopwatch {
    background-color: #32cd32;
    border-radius: 20px;
    font-size: 38px;
    margin-bottom: 40px;
    padding: 20px;
}

.name,
.stopwatch-wrapper :nth-child(2) button {
    text-transform: uppercase;
}

.stopwatch-wrapper :nth-child(2) button {
    margin: 0 10px;
    font-size: 10px;
    font-family: inherit;
}

.container:before,
.container:after {
    border: 2px solid #fff;
    content: '';
    display: inline-block;
    position: absolute;
    height: 30px;
    width: 300px;
    left: 18.5%;
}

.container:before {
    top: -34px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.container:after {
    bottom: -34px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.name {
    color: #aaa;
    margin-top:35px;
    font-size: 15px;
    letter-spacing: 1px;
}